*.log
*/venv
*/venv/
*/logs/*
*/logs/
*/log/
*/log/*
*/results/
*/results/*
*/data/
*/data/*
pids.json
params.json
venv
*.pyc
train.csv
test.csv
jobs.csv
.env
hub/.env
client/MNIST-parameter-tuning
hub/venv/
hub/__pycache__/
hub/**/*.pyc
hub/**/__pycache__/